body {
  font-family: 'Poppins';
  background-color: hsl(0, 0%, 98%);
}

.container {

  width:85%;
  margin: 0 auto;
  max-width:1100px;
}

header {
  padding:60px;
  text-align:center;
}

.heading2 {
  font-weight:600;
  font-size:26px;
  color: #505268;
}

.heading1 {
   font-weight:400;
  font-size:26px;
  color: #b5b4bb;
}

.description {
  font-weight:600;
  font-size:12px;
  color: #dedde2;
}

.cards {
  margin-top:30px;
}

.card {
  padding:20px;
  margin-bottom:20px;
  border-radius: 5px 5px 5px 5px;
  box-shadow:  6px 6px 12px #bebebe;
  display:flex;
  flex-direction:column;
}

.card-title {
  color: #878792;
  font-weight:800;
  padding-bottom:15px;
}

.card-desc {
  margin-bottom:30px;
  color: #d5d4d9;
  font-weight:400;
  font-size:12px;
}

.card-image {
  align-self:flex-end;
}

.supervisor {
  border-top: solid 4px #4cd2d2;
}

.team-builder {
  border-top: solid 4px #ea5656;
}

.calculator {
  border-top: solid 4px #5a9fee;
}

.karma {
  border-top: solid 4px #fcbd6e;
}


@media (min-width:500px) {
  .cards {
    display: flex;
    flex-direction:row; 
    gap: 20px;
  }

  .cards > * {
    width:100%;
  }

  .supervisor,
  .calculator {
    align-self:center;
  }

}